<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <br>
            <h4>Movie Review</h4>
            <p><img src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/camera-photo-128.png" alt=""></p>

            <h2><i class="fa fa-exclamation-triangle" style="color:red"></i>
     
                Page not found <small>404 error</small></h2>
            <p>Well, this is embarrassing.
                <br>
            </p>

            <p><a [routerLink]="['/movies']">Click here</a> to go back to movies!</p>

            <p>
                <a href="http://myview.rahulnivi.net">My View</a></p>
        </div>

    </div>
    
</div>