<div class="container">
    <div class="row">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" role="form" class="col-md-9 go-right">
            <h2>Enter New Movie</h2>
            <div class="form-group">
                <input id="movieName" name="movieName" type="text" class="form-control" required [(ngModel)]="movie.movieName" #movie="ngModel">
                <label for="movieName">Movie Name</label>
                <div class="alert alert-danger" *ngIf="movie.touched && !movie.valid">Please specify the Movie Name!</div>
            </div>
            <div class="form-group">
                <input id="directorName" name="directorName" type="text" class="form-control" required [(ngModel)]="movie.directorName" #director="ngModel">
                <label for="directorName">Director Name</label>
                <div class="alert alert-danger" *ngIf="director.touched && !director.valid">Please specify the Director Name!</div>
            </div>
            <div class="form-group">
                <input id="releaseYear" name="releaseYear" type="text" class="form-control" required [(ngModel)]="movie.releaseYear" #release="ngModel">
                <label for="releaseYear">Release Year</label>
                <div class="alert alert-danger" *ngIf="release.touched && !release.valid">Please specify the Release Year!</div>
            </div>
            <p class="bg-success" style="padding:10px;margin-top:20px;clear:both"> <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button></p>
        </form>
    </div>
</div>