<h3>Movies List</h3>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row-content">
                            <div class="list-group-item-heading">
                                <a href="#" title="movieName">
                                    <small>Movie Name</small>
                                </a>
                            </div>
                            <small>
                                <i class="glyphicon glyphicon-time"></i> Release Year
                                <i class="glyphicon glyphicon-user"></i> Director Name
                                <br>
                                <span class="explore"><i class="glyphicon glyphicon-th"></i> <a href="#">Movie Reviews </a></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>